.engage{
	background-image: url("./images/mountains2.jpeg");	
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	height: 100vh;
}

.synergize{
	background-color: yellowgreen;
	height: 40vh;
}

@media only screen and (max-width: 768px){
	.drama{
		font-size: 3em;
	}
	.engage{
		height: 40vh;
	}
	.synergize{
		height: 40vh;
	}
	h5{
		font-size: 1.2em;
		font-weight: lighter;
	}
	#mic-content{
		margin-bottom: 100px;
	}
	#mic{
		margin-top: 100px;
	}
}

.best{
	height: 90vh;
}

#mic{
	border-radius: 50%;
}

#phone{
	border-radius: 50%;
}