.engage{
	background-image: url("./images/mountains2.jpeg");	
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	height: 100vh;
}

.synergize{
	background-color: yellowgreen;
	height: 40vh;
}

@media only screen and (max-width: 768px){
	.drama{
		font-size: 3em;
	}
	.engage{
		height: 40vh;
	}
	.synergize{
		height: 40vh;
	}
	h5{
		font-size: 1.2em;
		font-weight: lighter;
	}
	#mic-content{
		margin-top: 2em;
		margin-bottom: 100px;
	}

	#mic{
		margin-top: 100px;
		width: 80%;
	}
	#phone{
		width: 100%;
		margin-top: 2em;
	}

}

.container{
	margin: 0px;
	padding: 0px;
}

#mic{
	border-radius: 50%;
	height: 70%;
	widows: 70%;
}

#phone{
	border-radius: 50%;
}

.pics{
	width: 100%;
	height: 100%;
}

.pen{
	background-image: url("./images/pen2.jpeg");	
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.concert{
	background-image: url("./images/concert.jpeg");	
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pencil{
	background-image: url("./images/pencil.jpeg");	
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact{
	background-color: yellowgreen;
}
